p,h3,h2,h1{
  font-family: 'Noto Sans', sans-serif;
  color: #333333;
  /* padding: none;
  margin: none; */
}

a{
  text-decoration: none;
  color: #333333;
}

img{
max-width: 100%;
}

nav{
  display: flex;
  justify-content: space-between;
}

.logo p{
  padding-left: 0.1rem;
  margin: 0.3rem;
  color: rgba(57, 169, 142, 1);
  /* font-size: 25px; */
  font-size: 1.5rem;
  font-style: bold;
}

.logo img{
  /* max-height: 100%; */
  object-fit: contain;
}

.logo{
  display: flex;
}

.menu{
  display: flex;
}

.menu p{
margin-right: 1rem;
}

.bleed{
  position: relative;
 text-align: center;
 color: white;
}

.bleed_content{
  position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);

}

.bleed_content h3{
font-size: 2rem;
 color: white;

}

.bleed_content p{
  font-size: 1.5rem;
   color: white;
}

#about{
  /* padding: 5rem; */
  padding-bottom: 2rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align{
  text-align: center;
  max-width: 50%;
}

.benefit{
  display: flex;
  align-items: center;
  padding-top: 3rem;
}

.sample{
  padding: 1rem;
  display: flex;
  text-align: center;
  max-width: 50%;
  flex-direction: column;
}

.sample img{
  /* max-width: 80%; */
  object-fit: contain;
}

.sample h2{
  font-size: 1rem;
}


#features h3{
    color: rgba(57, 169, 142, 1);
    text-align: center;
    font-size: 1.8em;
}

.feature{
  display: flex;
  justify-content: center;
align-items: center;
}

.feature:nth-of-type(odd){
  flex-direction: row-reverse;
  background-color: #f7f9f7;
  background-position: right;
}

.feature_content{
  max-width: 40%;
  padding: 1rem;
}

.feature_content h2{
  color: rgba(57, 169, 142, 1);
  font-size: 1.2em;
}

.feature_img{
  max-width: 40%;
  padding: 1rem;
}

.copyright{
  background-color: rgba(57, 169, 142, 1);
  padding-top: 0.5rem;
  /* tecolor: white; */

  padding-bottom: 0.5rem;
  text-align: center;
}

.designprocess{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.designprocess p{
  text-align: center;
  padding: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  color: white;
  border: 2px solid rgba(57, 169, 142, 1);
  border-radius: 10px;
  background-color: rgba(57, 169, 142, 1);
}

.copyright p{
    color: white;
}

.intro{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro h3{
  font-size: 1.8rem;
  color: rgba(57, 169, 142, 1);
}

.intro_content{
  max-width: 50%;
}

.intro_content h2{
  font-size: 1.2rem;
}

.process_feature{
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.process_feature img{
  max-width: 60%;
  padding: 0.8rem;
}

.process_feature h2{
    color: rgba(57, 169, 142, 1);
}

.process_feature:nth-of-type(odd){
  /* flex-direction: column-reverse; */
  background-color: #f7f9f7;
  background-position: right;
}

.process_feature_content{
  max-width: 50%;

}

.final{
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.final h1{
    color: rgba(57, 169, 142, 1);
}

.final_content{
  max-width: 50%;

}

@media only screen and (max-width: 600px){
.logo p{
  font-size: 1rem
}

.bleed_content h3{
  font-size: 1rem;
}

#about{
  padding-bottom: 0rem;
}

.bleed_content p{
  font-size: 0.8rem;
}

.align,.sample{
  max-width: 70%;
}

.benefit{
  flex-direction: column;
  padding-top: 0rem;
}

.feature, .feature:nth-of-type(odd){
  flex-direction: column;
}

.feature_content,.feature_img{
  max-width: 70%;
}

.process_feature img{
    max-width: 75%;
}

.final_content,.process_feature_content, .intro_content{
  max-width: 70%;
}
}
